h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav > a {
  padding: 0 10px;
  background: pink;
}

nav {
  text-align: center;
}

figcaption {
  font-size: 10px;
  text-align: center;

}

#featured-property p {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}

/*#featured-property {
  display: block;
}*/

div {
  float: left;
  background: pink;
  width: 25%;
  text-align: center;
}

